# Ignore temporary font build directories
source/temp_fonts/
source/Elvan_Sans_Output/

# Ignore Python caches
__pycache__/
*.pyc

tests/

# Ignore the Google Fonts fork directory (it's a separate repo)
fonts_fork/

# Ignore temporary test TTF files in the source directory
source/*.ttf
